@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  display: flex;
  justify-content: space-between;
}

/* PrimeVue Overrides */
.p-slider {
  margin: 1.2rem auto;
  width: 100%;
}
/* End PrimeVue Overrides */
